<% content_for :title, 'Convert to a voting machine' %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 main">

      <h2><%= @election.name %></h2>

      <h3>Convert this computer to a voting machine</h3>

      <p>If you would like voters to vote <b>in person</b> on the current computer, use this page to turn this computer into a voting machine.</p>
      <p>Once this computer turns into a voting machine, there will be a text box that lets voters enter a <b>code</b> to vote. You will have to provide each voter a unique code.</p>
      <p>Once the voting ends, go to <%= request.host_with_port + "/admin" %> to log out.</p>

      <form action="<%= url_for(action: :post_to_voting_machine) %>" method="post">
        <% if @locations.length > 0 %>
          <p><b>Choose the current location:</b></p>
          <% @locations.each do |location| %>
            <div class="radio">
              <label><input type="radio" name="location_id" value="<%= location.id %>" /> <%= location.name %></label>
            </div>
          <% end %>
          <div class="radio">
            <label><input type="radio" name="location_id" id="other_location_id" value="0" /> Other (please specify): </label>&nbsp;
            <input type="text" name="other_location_name" id="other_location_name" placeholder="Enter location" />
          </div>
          <script>
          $("input[name='location_id']:radio").change(function() {
            var location_id = $("input[name='location_id']:checked").val();
            if (location_id == 0) {
              $('#other_location_name').focus();
            } else {
              $('#other_location_name').val('');
            }
          });
          $('#other_location_name').keydown(function() {
            $("#other_location_id").prop('checked', true);
          });
          </script>
        <% else %>
          <p><b>Please enter the current location:</b> (For example, "Main Office" or "ABC High School")</p>
          <p><input type="text" name="other_location_name" id="other_location_name" class="form-control" placeholder="Enter location" autofocus="autofocus" /></p>
        <% end %>

        <input type="submit" value="OK" class="btn btn-lg btn-primary" />
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      </form>

    </div>
  </div>
</div>
