<% content_for :title, 'Codes: New' %>

<% content_for :primary do %>
<div class="container-fluid">
      <h2>Generate new codes</h2>

      <%= form_for(:code_batch, url: {action: :create}) do |f| %>
        <div class="form-group row">
          <%= f.label :n_codes, 'Number of codes', class: 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.number_field :n_codes, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 control-label">Format</label>
          <div class="col-sm-9">
            <div class="form-check">
              <%= f.radio_button :format, 'normal', checked: true, onclick: 'changeFormat();', class: 'form-check-input' %>
              <label class="form-check-label" for="code_batch_format_normal">
                7 digits of numbers and lowercase letters. (0, o, 1, l, q are excluded.)
              </label>
            </div>
           <div class="form-check">
              <%= f.radio_button :format, 'access_codes', onclick: 'changeFormat();', class: 'form-check-input' %>
              <label class="form-check-label" for="code_batch_format_access_codes">
                10 digits of numbers. (0 is excluded.) Optionally with a prefix.
                <%= f.text_field :access_code_prefix, id: 'access_code_prefix', style: 'width:150px', placeholder: 'Prefix', oninput: 'updateExampleCode()', class: 'form-control' %>
              </label>
            </div>
            <div class="form-check">
              <%= f.radio_button :format, 'test_codes', onclick: 'changeFormat();', class: 'form-check-input' %>
              <label class="form-check-label" for="code_batch_format_test_codes">
                Test codes ("_test" followed by a number.)
              </label>
            </div>

            
            <div style="border: 1px #ccc solid; border-radius: 4px; padding: 10px; display: inline-block; background-color: #fc9" class="mt-3">
              <div style="font-size: 15px;">Example code (not a real code):</div>
              <div id="example_code" style="font-family: 'Courier New', Courier; font-size: 20px; font-weight: bold"></div>
            </div>
          </div>
        </div>

        <%= f.submit 'Generate', class: 'btn btn-primary' %>
      <% end %>

      <script>
      function changeFormat() {
        var prefix_field = document.getElementById('access_code_prefix');
        var format = document.querySelector('input[name="code_batch[format]"]:checked').value;
        if (format == "access_codes") {
          prefix_field.disabled = false;
        } else {
          prefix_field.disabled = true;
          prefix_field.value = "";
        }
        updateExampleCode();
      }
      function updateExampleCode() {
        var example_code = document.getElementById('example_code');
        var format = document.querySelector('input[name="code_batch[format]"]:checked').value;
        var code = "";
        if (format == "normal") {
          code = "k5r3vwp";
        } else if (format == "access_codes") {
          var prefix_field = document.getElementById('access_code_prefix');
          code = prefix_field.value + "4279413481";
        } else if (format == "test_codes") {
          code = "_test123";
        }
        example_code.innerText = code;
      }
      changeFormat();
      </script>
</div>
<% end %>

<%= render partial: 'shared/admin_template', locals: {items: [
  @election,
  ['Codes', admin_election_code_batches_path(@election)],
  'New'
]} %>
