<% content_for :title, 'Files' %>

<% content_for :primary do %>
<div class="container-fluid">

      <h2>Files</h2>

      <% if !current_user.can_update_election?(@election) %>
        <%= render partial: 'shared/cant_update_election_warning' %>
      <% end %>

      <% if current_user.can_update_election?(@election) %>
        <%= form_tag({action: :create}, multipart: true) do %>
          <%= file_field_tag 'file' %><br>
          <%= submit_tag 'Upload', class: 'btn btn-primary' %>
        <% end %><br>
      <% end %>

      <ul>
      <% @files.each do |file| %>
        <% path = "/uploads/election/file/" + @election.id.to_s + "/" + CGI.escape(file[:filename]) %>
        <li>
          <a href="<%= path %>" target="_blank"><%= file[:filename] %></a>
          (<%= number_to_human_size(file[:size]) %>)<br>
          Path: <%= path %><br>

          <!-- <%= file[:ctime].in_time_zone(@election.time_zone).strftime('%A, %B %e, %Y %l:%M %p %Z') %><br> -->

          <% if ['.jpg', '.jpeg', '.png', '.gif'].include?(File.extname(file[:filename]).downcase) %>
            <a href="<%= path %>" target="_blank"><img src="<%= path %>" style="max-width: 400px;"></a><br>
          <% end %>

          <% if current_user.can_update_election?(@election) %>
            <a href="<%= admin_election_file_path(election_id: @election.id, id: file[:filename]) %>" data-method="delete" data-confirm="Are you sure you want to delete this file?">Delete...</a>
            <br><br>
          <% end %>
        </li>
      <% end %>
      </ul>

</div>
<% end %>

<%= render partial: 'shared/admin_template', locals: {items: [
  @election,
  'Files'
]} %>
