<style>
.breadcrumb .election-btn {
}
.breadcrumb .election-dropdown-toggle {
  padding: 4px 6px;
  margin-left: -2px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  cursor: pointer;
}
.breadcrumb .election-dropdown-toggle:hover {
  background-color: #ddd;
}
.breadcrumb .view-election {
  float: right;
}
.breadcrumb .view-election::before {
  content: '' !important;
}
</style>

<ol class="breadcrumb">
  <% if items.length > 0 %>
    <li><a href="<%= admin_root_path %>">Admin</a></li>
  <% else %>
    <li class="active">Admin</li>
  <% end %>
  <% items.each_with_index do |item, index| %>
    <% if item.is_a?(Array) %>
      <li><a href="<%= item[1] %>"><%= item[0] %></a></li>
    <% elsif item.is_a?(String) %>
      <li class="active"><%= item %></li>
    <% elsif item.is_a?(Election) %>
      <% if current_user.superadmin? || current_user.elections.count > 1  # show a dropdown %>
        <li class="<%= 'active' if index == items.length - 1 %>" style="margin-right: -10px;">
          <div class="btn-group" style="vertical-align: baseline;">
            <% if index == items.length - 1 %>
              <span class="election-btn"><%= item.name %></span>
            <% else %>
              <a class="election-btn" href="<%= admin_election_path(item) %>"><%= item.name %></a>
            <% end %>
            <a class="dropdown-toggle election-dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret" style="margin-left:0"></span></a>
            <br>

            <ul class="dropdown-menu" role="menu">
              <% Election.all.natural_sort_by(&:name).each do |election| %>
                <% if current_user.admin_or_volunteer?(election) %>
                  <%# If the user is on the analytics page and they click on another election, take them to the analytics of that election.
                    # This is hacky, of course. %>
                  <% if params[:controller] == 'admin/elections' && params[:action] == 'analytics' %>
                    <% url = analytics_admin_election_path(election) %>
                  <% else %>
                    <% url = admin_election_path(election) %>
                  <% end %>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= url %>"><%= election.name %></a></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </li>
      <% else %>
        <% if index == items.length - 1 %>
          <li class="active"><%= item.name %></li>
        <% else %>
          <li><a href="<%= admin_election_path(item) %>"><%= item.name %></a></li>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if items.length > 0 && items[0].is_a?(Election) %>
    <li class="view-election"><a href="/<%= items[0].slug %>" target="_blank">View</a></li>
  <% end %>
</ol>
