<p class="lead" style="margin-bottom: 0;"><b><%= project[:title] %></b></p>

<p class="project-description">
  <%= raw project.description %>
</p>

<p class="project-cost"><b><%= t('approval.estimated_cost') %></b>: $<%= number_with_delimiter(project.cost) %></p>

<% if !project.address.blank? %>
  <p class="project-location"><b><%= t('approval.location') %></b>: <%= project.address.html_safe %></p>
<% end %>
<% if !project.committee.blank? %>
  <p class="project-committee"><b><%= t('approval.committee') %></b>: <%= project.committee.html_safe %></p>
<% end %>
<% if !project.partner.blank? %>
  <p class="project-partner"><b><%= t('approval.partner') %></b>: <%= project.partner.html_safe %></p>
<% end %>

<p>
  <div class="btn-group btn-group-lg button-group" role="group">
    <button class="btn btn-default btn-lg plus-button" id="plus-button<%= project.id %>">
      +
    </button>
    <button class="btn btn-default btn-lg minus-button" id="minus-button<%= project.id %>">
      &minus;
    </button>
  </div>

  <button class="btn btn-default btn-lg remove-button" id="remove-button<%= project.id %>">
    <%= t('plusminus.clear_button').html_safe %>
  </button>
</p>
<% if conf[:approval][:show_photos] && project.image_url %>
  <p><img src="<%= project.image.url %>" class="project-image" /></p>
<% end %>
