<style>
.image {
  max-width: 500px;
}
/* The "collapsed" class is added/removed automatically by Bootstrap */
.collapsed .moreFieldExpandedChevron {
  display: none;
}
.moreFieldCollapsedChevron {
  display: none;
}
.collapsed .moreFieldCollapsedChevron {
  display: inline-block;
}

#exampleCoordinatesModal img {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}
</style>

<%
available_locales = @election.config[:available_locales]
multiple_locales = available_locales.length > 1
%>

<p class="text-muted">* indicates a required field.</p>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% @project.errors.full_messages.each do |msg| %>
  <p class="text-danger"><%= msg %></p>
<% end %>

<%= form_for([:admin, @election, @project]) do |f| %>
  <div class="form-group row">
    <%= f.label :number, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <div class="form-inline">
        <%= f.text_field :number, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :title, 'Title*', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <% available_locales.each do |locale| %>
        <%= f.text_field 'title_' + locale, class: 'form-control', placeholder: multiple_locales ? LOCALE_NAMES[locale.to_sym] : '', dir: (locale == "ar") ? 'rtl' : nil %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, 'Description*', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <% available_locales.each do |locale| %>
        <%= f.text_area 'description_' + locale, rows: 4, class: 'form-control', placeholder: multiple_locales ? LOCALE_NAMES[locale.to_sym] : '', dir: (locale == "ar") ? 'rtl' : nil %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :cost, 'Cost*', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <div class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend"><div class="input-group-text"><%= @election.config[:currency_symbol] %></div></div>
          <%= f.number_field :cost, class: 'form-control' %>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <%= f.check_box :adjustable_cost %> Adjustable
        </label>
      </div>
    </div>
  </div>

  <div id="fields_for_adjustable_cost_project">
    <div class="form-group row">
      <%= f.label :cost_min, 'Minimum cost*', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend"><div class="input-group-text"><%= @election.config[:currency_symbol] %></div></div>
            <%= f.text_field :cost_min, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :cost_step, 'Cost step*', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend"><div class="input-group-text"><%= @election.config[:currency_symbol] %></div></div>
            <%= f.text_field :cost_step, class: 'form-control' %>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <%= f.check_box :uses_slider %> Use a slider to adjust cost
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :address, 'Location', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <% available_locales.each do |locale| %>
        <%= f.text_field 'address_' + locale, class: 'form-control', placeholder: multiple_locales ? LOCALE_NAMES[locale.to_sym] : '', dir: (locale == "ar") ? 'rtl' : nil %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :category_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <div class="form-inline">
        <%= f.collection_select(:category_id, @election.categories, :id, :name, {include_blank: 'Uncategorized'}, class: 'form-control') %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :image, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <% if @project.image? %>
        <img class="image" src="<%= @project.image.url %>">
        <div>
          <%= f.check_box :remove_image %>
          <%= f.label :remove_image, "Remove image" %>
        </div>
      <% end %>
      <%= f.file_field :image, accept: 'image/*' %>
      <%= f.hidden_field :image_cache %>

      <div class="mt-2" id="image_description_field" style="display: none;">
        <div>Image description:</div>
        <% available_locales.each do |locale| %>
          <%= f.text_field 'image_description_' + locale, class: 'form-control', placeholder: multiple_locales ? LOCALE_NAMES[locale.to_sym] : '' %>
        <% end %>
        <div class="text-muted">Describe what is in the image for people with visual impairments.</div>
      </div>
    </div>
  </div>

  <%
  # Determine whether "More fields" should be shown by default.
  def localized_fields(field, locales)
    locales.map { |locale| field + '_' + locale }
  end
  more_fields = ['map_geometry', 'external_vote_count', 'data'] + localized_fields('video_url', available_locales) + localized_fields('details', available_locales)
  show_more_fields_by_default = more_fields.any? { |field| !@project.send(field).blank? }
  %>

  <p>
    <a data-toggle="collapse" href="#moreOptions" class="<%= show_more_fields_by_default ? '' : 'collapsed' %>" role="button" aria-expanded="<%= show_more_fields_by_default %>" aria-controls="moreOptions">
      <span class="glyphicon glyphicon-triangle-bottom moreFieldExpandedChevron" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-triangle-right moreFieldCollapsedChevron" aria-hidden="true"></span>
      More fields
    </a>
  </p>

  <div class="collapse <%= show_more_fields_by_default ? 'show' : '' %>" id="moreOptions">
    <div class="form-group row">
      <%= f.label :map_geometry, 'Coordinates', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :map_geometry, class: 'form-control' %>
        <p class="text-muted">A list of points. A point is a list of a latitude and a longitude. For example, [[37.424107, -122.166077]]. See <a href="#" data-toggle="modal" data-target="#exampleCoordinatesModal">more examples</a>.</p>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :video_url, 'YouTube URL', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <% available_locales.each do |locale| %>
          <%= f.text_field 'video_url_' + locale, class: 'form-control', placeholder: multiple_locales ? LOCALE_NAMES[locale.to_sym] : '' %>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :details, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <% available_locales.each do |locale| %>
          <%= f.text_area 'details_' + locale, rows: 3, class: 'form-control', placeholder: multiple_locales ? LOCALE_NAMES[locale.to_sym] : '', dir: (locale == "ar") ? 'rtl' : nil %>
        <% end %>
        <p class="text-muted">Details, unlike description, are hidden by default. Voters have to click a link that says "Read more" to read them.</p>
      </div>
    </div>

    <% if !is_creating %>
      <div class="form-group row">
        <%= f.label :external_vote_count, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :external_vote_count, class: 'form-control' %>
          <p class="text-muted"> (Deprecated; don't use) If voters can vote on paper ballot and you want to include the vote count from the paper ballot in the analytics, enter the vote count from the paper ballot in this box.</p>
        </div>
      </div>
    <% end %>

    <div class="form-group row">
      <%= f.label :data, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :data, rows: 3, class: 'form-control' %>
        <p class="text-muted">This field is for advanced settings. You probably don't need to use it.</p>
      </div>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
<br><br>

<div class="modal" id="exampleCoordinatesModal" tabindex="-1" role="dialog" aria-labelledby="exampleCoordinatesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleCoordinatesModalLabel">Examples for coordinates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>
            <b>Point</b><br>
            <code>[[37.427488, -122.170262]]</code><br>
            <img src="/img/map_geometry_point.png" alt="A map with a point">
          </li>
          <li>
            <b>Multiple points</b><br>
            <code>[[37.427488, -122.170262], [37.427615, -122.166970]]</code><br>
            <img src="/img/map_geometry_points.png" alt="A map with two points">
          </li>
          <li>
            <b>Line</b><br>
            <code>[{"type": "LineString", "coordinates": [[42.001774, -87.668072], [42.005449, -87.668182]]}]</code><br>
            <img src="/img/map_geometry_line.png" alt="A map with a line">
          </li>
          <li>
            <b>Polygon</b><br>
            <code>[{"type": "Polygon", "coordinates": [[42.001774, -87.668072], [42.005449, -87.668182], [42.003, -87.671]]}]</code><br>
            <img src="/img/map_geometry_polygon.png" alt="A map with a polygon">
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
// Show some more fields if the cost is adjustable.
var adjustableCostCheckbox = document.getElementById('project_adjustable_cost');
function updateCostFields() {
  var adjustableCost = adjustableCostCheckbox.checked;
  document.getElementById('fields_for_adjustable_cost_project').style.display = adjustableCost ? 'block' : 'none';
  if (!adjustableCost) {
    document.getElementById('project_cost_min').value = 0;
    document.getElementById('project_cost_step').value = 1;
    document.getElementById('project_uses_slider').checked = false;
  }
}
adjustableCostCheckbox.addEventListener('change', updateCostFields);
updateCostFields();

// Show the image description field when there is an image.
var imageField = document.getElementById('project_image');
var removeImageCheckbox = document.getElementById('project_remove_image');
var imageDescriptionField = document.getElementById('image_description_field');
var hasImage = <%= @project.image? %>;
function updateImageDescriptionField() {
  if ((hasImage && !removeImageCheckbox.checked) || (imageField.value && imageField.value.length > 0)) {
    imageDescriptionField.style.display = 'block';
  } else {
    imageDescriptionField.style.display = 'none';
  }
}
imageField.addEventListener('change', updateImageDescriptionField);
if (hasImage)
  removeImageCheckbox.addEventListener('change', updateImageDescriptionField);
updateImageDescriptionField();
</script>
