<style>
#instructionsModal ol {
  font-size: 22px;
}

#instructionsSmall ol {
  font-size: 18px;
}
</style>

<style>
.category-name {
  margin-top: 40px;
}

.category-image {
  vertical-align: text-bottom;
  display: block;
  margin-bottom: 12px;
}

#projects .project {
  padding: 14px 21px;
  border-left: 1px #999 solid;
  border-top: 1px #999 solid;
}

#projects .row {
  border-right: 1px #999 solid;
}

#projects .row:last-child {
  border-bottom: 1px #999 solid;
}

<% if conf[:plusminus][:n_cols] > 1 %>
  /* trick to make columns have the same height */
  @media (min-width: 768px) {
    #projects .row {
      display: table;
    }
    #projects .col-sm-1,
    #projects .col-sm-2,
    #projects .col-sm-3,
    #projects .col-sm-4,
    #projects .col-sm-6,
    #projects .col-sm-12 {
      float: none;
      display: table-cell;
      vertical-align: top;
    }
  }
<% end %>

.project-title {
  margin-bottom: 0;
  font-weight: bold;
}

.project-description, .project-cost, .project-location {
  font-size: 16px;
}

.project-details img {
  max-width: 100%;
  height: auto;
}

.project-image {
  width: 100%;
  margin-top: 8px;
  max-width: 400px;
}

.plus-button, .minus-button {
  width: 56px;
  height: 56px;
  font-size: 36px !important;
  padding: 2px 2px !important;
  background-color: #f0f0f0;
  font-weight: 600;
  outline: none !important;
}

.selected-plus-button:hover, .selected-plus-button.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
}

.selected-minus-button:hover, .selected-minus-button.active {
  background-color: #c9302c;
  border-color: #ac2925;
  color: white;
}

.remove-button {
  display: none;
  height: 56px;
  padding: 16px !important;
  background-color: #f0f0f0;
}

.button-group .tooltip-inner {
  max-width: 240px;
  width: 240px;
}

.minus-button { /* fix for tooltip */
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  margin-left: -1px;
}

.plus-button.disabled, .minus-button.disabled /* to allow the tooltip to show up when the button is disabled */ {
  cursor: default;
  pointer-events: auto;
}
</style>


<div>

  <div class="alert alert-info" role="alert">
    <b><%= t('general.experiment_disclaimer') %></b>
  </div>


    <span id="instructionsSmall">
      <%= raw t('plusminus.instructions') %>
      <br>

      <span style="font-size: 20px">
        <%= t('plusminus.tracker.text',
          count: t('plusminus.tracker.n_upvotes_and_n_downvotes',
            n_upvotes: '<span id="upvotes">0</span>',
            n_downvotes: '<span id="downvotes">0</span>'
          )
        ).html_safe %>
      </span>
    </span>

    <br><br>

    <center>
      <button type="button" class="btn btn-primary btn-lg submit" data-toggle="modal" data-target="#myModal"><%= t('approval.submit_button') %></button>
      <br>
    </center><br>

    <% n_cols = conf[:plusminus][:n_cols] %>

    <% @categories.each do |category| %>
      <% if conf[:categorized] %>
        <a id="category<%= category.id %>" style="display: block; position: relative; top: <%= -90 - @y_offset %>px;"></a>
        <h3 class="category-name">
          <% if category.image? %>
            <img src="<%= category.image.url %>" class="category-image" />
          <% end %>
          <%= category.name.html_safe %>
        </h3>
      <% end %>

      <div class="container-fluid">
        <% projects = category.ordered_projects %>
        <% projects.each_with_index do |project, index| %>

          <% if index % n_cols == 0 %>
          <div class="row">
          <% end %>
            <div class="col-sm-<%= 12 / n_cols %> project" id="project-cell<%= project.id %>">
              <a id="project<%= project.id %>" style="display: block; position: relative; top: <%= -90 - @y_offset %>px;"></a>
              <%= render partial: 'shared/project_plusminus', locals: {project: project} %>
            </div>
            <%# if this is the last project and there are empty columns left, fill them out %>
            <% if index == projects.length - 1 && projects.length % n_cols != 0 %>
              <% (n_cols - (projects.length % n_cols)).times do %>
                <div class="col-sm-<%= 12 / n_cols %> project" style="padding: 0">
                </div>
              <% end %>
            <% end %>
          <% if (index+1) % n_cols == 0 or index == projects.length - 1 %>
          </div>
          <% end %>

        <% end %>
      </div>
    <% end %>

    <br />
    <center>

      <button type="button" class="btn btn-primary btn-lg submit" data-toggle="modal" data-target="#myModal"><%= t('approval.submit_button') %></button>
    </center>
    <br /><br /><br />

</div>
