<% content_for :title, 'Projects' %>

<% content_for :primary do %>
<div class="container-fluid">
      <style>
      .handle {
        cursor: move;
        float: right;
      }
      </style>

      <h2>Projects</h2>

      <% if !current_user.can_update_election?(@election) %>
        <%= render partial: 'shared/cant_update_election_warning' %>
      <% end %>

      <% if current_user.can_update_election?(@election) %>
        <p>
          <a href="<%= new_admin_election_project_path(@election) %>">Add a new project</a> &nbsp;|&nbsp;
          <a href="<%= import_admin_election_projects_path(@election) %>">Import projects</a>
          <% if !@projects.empty? %>
            &nbsp;|&nbsp;
            <a href="<%= export_admin_election_projects_path(@election, format: :csv) %>">Export projects</a>
          <% end %>
        </p>
      <% end %>

      <% if !@projects.empty? %>
        <% Globalize.with_locale(@election.config[:default_locale]) do %>
          <ul id="project-list" class="list-group mb-3">
            <% @projects.each do |project| %>
              <li class="list-group-item" data-project-id="<%= project.id %>">
                <% if current_user.can_update_election?(@election) %>
                  <span class="glyphicon glyphicon-menu-hamburger handle"></span>

                  <div style="float: right; margin-right: 18px">
                    <a href="<%= edit_admin_election_project_path(election_id: @election.id, id: project.id) %>"><!--<span class="glyphicon glyphicon-pencil"></span> -->Edit</a> &nbsp;
                    <a href="<%= admin_election_project_path(election_id: @election.id, id: project.id) %>"
                      data-method="delete" data-confirm="Are you sure you want to delete this project? This project and the votes it has received will be removed permanently.">
                      <!--<span class="glyphicon glyphicon-trash"></span> -->Delete
                    </a>
                  </div>
                <% end %>

                <b><%= project.number + '.' if !project.number.blank? %> <%= (!project.title.blank? ? project.title : "<span class='text-danger'>MISSING TITLE</span>".html_safe) %></b>
                <% if !project.adjustable_cost? %>
                  (<%= cost_with_delimiter(project.cost, @election.config[:currency_symbol]) %>)
                <% else %>
                (<%= cost_with_delimiter(project.cost_min, @election.config[:currency_symbol]) %> - <%= cost_with_delimiter(project.cost, @election.config[:currency_symbol]) %>)
                <% end %>

                <p><%= (!project.description.blank? ? sanitize(project.description) : "<span class='text-danger'>MISSING DESCRIPTION</span>").html_safe %></p>
                <div>
                  <% if !project.details.blank? %>
                    <b>Details:</b> <%= sanitize project.details %><br>
                  <% end %>
                  <% if !project.address.blank? %>
                    <b>Location:</b> <%= project.address.html_safe %><br>
                  <% end %>
                  <% if @election.categorized? %>
                    <b>Category:</b> <%= project.category ? project.category.name : 'Uncategorized' %><br>
                  <% end %>
                  <% if project.image? %>
                    <img src="<%= project.image.url %>" style="max-width: 300px;" alt="<%= project.image_description.blank? ? 'Image for ' + project.title : project.image_description %>" />
                  <% end %>
                </div>
                <!--
                <a href="<%= edit_admin_election_project_path(election_id: @election.id, id: project.id) %>"><span class="glyphicon glyphicon-pencil"></span> Edit</a> &nbsp; | &nbsp;
                <a href="<%= admin_election_project_path(election_id: @election.id, id: project.id) %>"
                  data-method="delete" data-confirm="Are you sure you want to delete this project? This project and the votes it has received will be removed permanently.">
                  <span class="glyphicon glyphicon-remove"></span> Delete...
                </a>
                -->
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>


      <h2>Categories</h2>

      <% if current_user.can_update_election?(@election) %>
        <p><a href="<%= new_admin_election_category_path(@election) %>">Add a new category</a></p>
      <% end %>

      <% if !@categories.empty? %>
        <ul id="category-list" class="list-group mb-3">
          <% @categories.each do |category| %>
            <li class="list-group-item" data-category-id="<%= category.id %>">
              <% if current_user.can_update_election?(@election) %>
                <span class="glyphicon glyphicon-menu-hamburger handle"></span>

                <div style="float: right; margin-right: 18px;">
                  <a href="<%= edit_admin_election_category_path(election_id: @election.id, id: category.id) %>"><!--<span class="glyphicon glyphicon-pencil"></span> -->Edit</a> &nbsp; &nbsp;
                  <a href="<%= admin_election_category_path(election_id: @election.id, id: category.id) %>"
                    data-method="delete" data-confirm="Are you sure you want to delete this category?">
                    <!--<span class="glyphicon glyphicon-trash"></span> -->Delete
                  </a>
                </div>
              <% end %>

              <div class="header"><b><%= category.name %></b></div>
              <div>
                <% if category.image? %>
                  <img src="<%= category.image.url %>" />
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if (@projects.length >= 2 || @categories.length >= 2) && current_user.can_update_election?(@election) %>
        <p>
          You can reorder projects and categories by dragging the <span class="glyphicon glyphicon-menu-hamburger"></span> icons.
        </p>
      <% end %>

      <br><br><br><br><br><br>
</div>

<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script>
$('#project-list').sortable({
  handle: ".handle",
  update: function(event, ui) {
    var projectIDs = $('#project-list').sortable('toArray', {attribute: "data-project-id"});
    //$saveOrderButton.text('Saving Order...');
    //$saveOrderButton.prop('disabled', true);
    $.ajax({
      method: 'PATCH',
      url: '/admin/elections/<%= @election.id %>/projects/reorder',
      data: {project_ids: projectIDs}
    }).done(function() {
    }).fail(function() {
      //$saveOrderButton.prop('disabled', false);
      alert("An error has occurred.")
    }).always(function() {
      //$saveOrderButton.text('Save Order');
    });
  }
});

$('#category-list').sortable({
  handle: ".handle",
  update: function(event, ui) {
    var categoryIDs = $('#category-list').sortable('toArray', {attribute: "data-category-id"});
    //$saveOrderButton.text('Saving Order...');
    //$saveOrderButton.prop('disabled', true);
    $.ajax({
      method: 'PATCH',
      url: '/admin/elections/<%= @election.id %>/categories/reorder',
      data: {category_ids: categoryIDs}
    }).done(function() {
    }).fail(function() {
      //$saveOrderButton.prop('disabled', false);
      alert("An error has occurred.")
    }).always(function() {
      //$saveOrderButton.text('Save Order');
    });
  }
});
</script>
<% end %>

<%= render partial: 'shared/admin_template', locals: {items: [
  @election,
  'Projects'
]} %>
