<% content_for :title, 'Admin' %>

<% if current_user %>
  <% content_for :primary do %>
    <style>
    .election-table .glyphicon {
      margin-right: 2px;
    }
    </style>

    <div class="container-fluid">

      <h2>Elections</h2>

      <% if current_user.superadmin? %>
        <a href="<%= new_admin_election_path %>">Add a new election</a><br><br>
      <% end %>

      <table class="table table-sm election-table">
      <% if !@active_elections.empty? %>
          <thead class="thead-light">
            <tr>
              <td class="border-top-0" colspan="3">
                <h4>Active Elections</h4>
              </td>
            </tr>
            <tr>
              <th>Name</th>
              <th>URL</th>
              <% if current_user.superadmin? %>
                <th>Voting method</th>
              <% end %>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @active_elections.each do |election| %>
              <tr>
                <td><a href="<%= admin_election_path(election.id) %>"><%= election.name %></a></td>
                <td>/<%= election.slug %></td>
                <% if current_user.superadmin? %>
                  <td><%= summarize_workflow(election.config[:workflow]) %></td>
                <% end %>
                <td>
                  <div class="dropdown">
                    <a href="#" id="dropdownMenuButton" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-option-horizontal"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="/<%= election.slug %>" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> View Website</a>
                      <% if current_user.superadmin? %>
                        <a class="dropdown-item" href="<%= duplicate_admin_election_path(election.id) %>"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate</a>
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        
      <% end %>


      <% if !@inactive_elections.empty? %>
          <thead class="thead-light">
            <tr>
              <td class="border-top-0" colspan="3">
                <h4>Inactive Elections</h4>
              </td>
            </tr>
            <tr>
              <th>Name</th>
              <th>URL</th>
              <% if current_user.superadmin? %>
                <th>Voting method</th>
              <% end %>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @inactive_elections.each do |election| %>
              <tr>
                <td><a href="<%= admin_election_path(election.id) %>"><%= election.name %></a></td>
                <td>/<%= election.slug %></td>
                <% if current_user.superadmin? %>
                  <td><%= summarize_workflow(election.config[:workflow]) %></td>
                <% end %>
                <td>
                  <div class="dropdown">
                    <a href="#" id="dropdownMenuButton" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-option-horizontal"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="/<%= election.slug %>" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> View Website</a>
                      <% if current_user.superadmin? %>
                        <a class="dropdown-item" href="<%= duplicate_admin_election_path(election.id) %>"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate</a>
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        
      <% end %>
      </table>

      <br><br>
    </div>
  <% end %>

  <%= render partial: 'shared/admin_template', locals: {items: []} %>
<% elsif session[:voting_machine_user_id] %>
  <div class="container-fluid text-center">
    <br><br><br><br>
    <a href="/admin/users/logout" class="btn btn-primary btn-lg">Log Out</a>
    <br><br>
  </div>
<% end %>
