<% content_for :title, 'Admin' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main">
      <% if current_user %>
        <%= render partial: 'shared/admin_toolbar', locals: {items: []} %>

        <h2>Elections</h2>

        <% if current_user.superadmin? %>
          <a href="<%= new_admin_election_path %>">Add a new election</a><br><br>
        <% end %>

        <%if !@active_elections.empty? %>
          <div><b>Active</b></div>
          <ul>
            <% @active_elections.each do |election| %>
              <li>
                <a href="<%= admin_election_path(election.id) %>"><%= election.name %></a>&nbsp;
                (<a href="/<%= election.slug %>" target="_blank">/<%= election.slug %></a>)
              </li>
            <% end %>
          </ul>
        <% end %>

        <%if !@inactive_elections.empty? %>
          <div><b>Inactive</b></div>
          <ul>
            <% @inactive_elections.each do |election| %>
              <li>
                <a href="<%= admin_election_path(election.id) %>"><%= election.name %></a>&nbsp;
                (<a href="/<%= election.slug %>" target="_blank">/<%= election.slug %></a>)
              </li>
            <% end %>
          </ul>
        <% end %>

        <% if current_user.superadmin? %>
          <h2>Users</h2>

          <a href="<%= admin_users_path %>">Manage users</a>
        <% end %>
      <% elsif session[:voting_machine_user_id] %>
        <br><br><br><br>
        <center><a href="/admin/users/logout" class="btn btn-primary btn-lg">Log Out</a></center>
      <% end %>
      <br><br>
    </div>
  </div>
</div>
