<% content_for :title, t('navigation.brand') %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 main">
      <% if conf[:voting_has_ended] %>
        <h1 class="text-center" style="color: red;"><%= t('index.voting_ended').html_safe %></h1>
      <% elsif conf[:stop_accepting_votes] %>
        <h2 class="text-center" style="color: red;"><%= t('index.voting_has_not_started').html_safe %></h2>
      <% end %>

      <% if conf[:show_public_results] %>
        <div class="text-center">
          <a href="<%= url_for action: :results%>" class="btn btn-primary btn-lg" style="margin: 20px"><%= t('index.public_results').html_safe %></a>
        </div>
      <% end %>

      <% if voting_machine? %>
        <%= raw t('index.voting_machine.welcome', about_url: 'http://voxpopuli.stanford.edu/') %>

        <div class="text-center">
        <%= form_for(:code, url: {action: :authenticate_code}) do |f| %>

          <div style="font-size: 30px;"><%= t('index.voting_machine.instruction').html_safe %></div><br /><br />


          <% if flash[:error] %>
            <p style="font-size: 20px; color: red;"><%= flash[:error] %></p>
          <% end %>

          <% if !conf[:stop_accepting_votes] %>
            <%= f.text_field :code, placeholder: t('index.voting_machine.code_placeholder'), maxlength: 10, autocomplete: "off", autofocus: "autofocus", style: "font-size: 20px; width: 150px;" %>
            <%= f.submit t('index.voting_machine.enter_code_button'), style: "font-size: 20px" %>
          <% end %>

          <br><br>
        <% end %>
        </div>
      <% else %>
        <%= raw t('index.remote.welcome', about_url: 'https://voxpopuli.stanford.edu/', campaign: h(params[:campaign])) %>

        <div class="text-center">
          <%# Explore button %>
          <% if conf[:index][:show_explore_button] %>
            <%# FIXME: Change the text on the button to 'Explore'. %>
            <a href="<%= url_for(next_page(:home)) %>" class="btn btn-primary btn-lg" style="margin: 0 15px 10px;"><%= t('index.remote.proceed_button').html_safe %></a>
          <% end %>

          <%# See projects button %>
          <% if conf[:index][:see_projects_url] && !conf[:index][:see_projects_url].blank? %>
            <a href="<%= conf[:index][:see_projects_url] %>" target="_blank" class="btn btn-primary btn-lg" role="noopener" style="margin: 0 15px 10px;"><%= t('index.remote.see_projects_button').html_safe %></a>
          <% end %>

          <%# Remote voting button(s) %>
          <% if conf[:allow_remote_voting] && !conf[:voting_has_ended] %>
            <% if conf[:remote_voting_sms_verification] && conf[:index][:show_remote_voting_sms_button] %>
              <a href="<%= url_for action: :sms_signup %>" class="btn btn-primary btn-lg <%= conf[:stop_accepting_votes] ? 'disabled' : '' %>" style="margin: 0 15px 10px;"><%= t('index.remote.sms_verification_button').html_safe %></a>
            <% end %>
            <% if conf[:remote_voting_other_verification] && conf[:index][:show_remote_voting_other_button] %>
              <a href="<%= url_for action: :other_signup %>" class="btn btn-primary btn-lg <%= conf[:stop_accepting_votes] ? 'disabled' : '' %>" style="margin: 0 15px 10px;"><%= t('index.remote.other_verification_button').html_safe %></a>
            <% end %>
            <% if conf[:remote_voting_code_verification] && conf[:index][:show_remote_voting_code_button] %>
              <a href="<%= url_for action: :code_signup %>" class="btn btn-primary btn-lg <%= conf[:stop_accepting_votes] ? 'disabled' : '' %>" style="margin: 0 15px 10px;"><%= t('index.remote.code_verification_button').html_safe %></a>
            <% end %>
            <% if conf[:remote_voting_free_verification] && conf[:index][:show_remote_voting_free_button] %>
              <a href="<%= url_for action: :free_signup %>" class="btn btn-primary btn-lg <%= conf[:stop_accepting_votes] ? 'disabled' : '' %>" style="margin: 0 15px 10px;"><%= t('index.remote.code_verification_button').html_safe %></a>
            <% end %>
          <% end %>
        </div>

        <%= t('election.info').html_safe %>
        <br><br>
      <% end %>
    </div>
  </div>
</div>
