<% content_for :title, t('navigation.brand') %>

<style>
input[type='text'] {
  display: inline-block;
  width: 500px;
  height: 50px;
  font-size: 16px;
}
</style>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-8 main">
      <center>
        <h2><%= t('other_signup.title') %></h2>
        <br>
        <%= raw t('other_signup.instruction') %>

        <form action="<%= url_for(action: :post_other_signup) %>" method="post">
          <div class="card bg-light">
            <div class="card-body">
              <% if flash[:error] %>
                <p style="font-size: 20px; color: red;"><%= flash[:error] %></p>
              <% end %>
              <div class="form-group">
                <input type="text" name="account_number" id="account_number" class="form-control" autocomplete="off" placeholder="<%= t('other_signup.account_number_placeholder') %>" autofocus="autofocus" required="required" />
              </div>
              <div class="form-group">
                <input type="text" name="zipcode" id="zipcode" class="form-control" autocomplete="off" placeholder="<%= t('other_signup.zipcode_placeholder') %>" required="required" />
              </div>
              <input type="submit" value="<%= t('other_signup.vote_button') %>" class="btn-lg btn btn-primary" />
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            </div>
          </div>
        </form>

      </center>
      <p><%= t('other_signup.no_account_number_instruction', code_signup_url: url_for(action: :code_signup)).html_safe %></p>
      <p><%= t('election.can_also_vote_in_person').html_safe %></p>
      <%= t('election.info').html_safe %>
    </div>
  </div>
</div>
