<% content_for :title, t('approval.title') %>

<% content_for :head do %>
  <script type="text/javascript">
  var projects = <%= @projects_json.to_json.html_safe %>;
  var checks = [];
  var minuses = [];
  var costs = new Array(projects.length);
  var upvotes = <%= conf[:plusminus][:upvotes] %>;
  var downvotes = <%= conf[:plusminus][:downvotes] %>;
  var idToIndex = {};
  for (var i = 0; i < projects.length; ++i) {
    idToIndex[projects[i].id] = i;
  }
  </script>

  <style>
  #leftbar {
    position: fixed;
    width: 400px;
    display: none;
    top: 50px;
    bottom: 0px;
    padding: 20px 0;
    overflow: auto;
  }
  @media (min-width: 1000px) {
    #leftbar {
      display: block;
    }
    #projects.projects-with-leftbar {
      padding-left: 400px;
    }
  }
  #helpLink {
    color: white;
  }
  </style>
<% end %>


<%
@y_offset = 0
%>

<% content_for :navbar_links do %>
  <li><a href="<%= url_for(next_page(:plusminus)) %>"><%= t('navigation.exit') %></a></li>
  <li><a href="#" data-toggle="modal" data-target="#instructionModal" id="helpLink"><%= t('navigation.help') %></a></li>
<% end %>

<% if conf[:plusminus][:sidebar] || conf[:plusminus][:tracker] %>
  <div id="leftbar">
    <% if conf[:plusminus][:tracker] %>
      <%= render 'shared/tracker_plusminus' %>
    <% end %>
    <% if conf[:plusminus][:sidebar] %>
      <%= render 'shared/sidebar_plusminus' %>
    <% end %>
  </div>
  <div class="container-fluid">
    <div id="projects" class="projects-with-leftbar">
      <%= render 'shared/project_list_plusminus' %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="projects">
          <%= render 'shared/project_list_plusminus' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div>
  <form action="<%= url_for action: :submit_plusminus %>" method="post" id="form">
    <% @projects_json.each do |project| %>
      <input type="hidden" name="project[<%= project['id'] %>]" id="project<%= project['id'] %>" value="0" />
    <% end %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= raw t('approval.confirmation.title') %></h4>
          </div>
          <div class="modal-body" style="font-size: 16px;">
            <div id="confirmation-body"></div>
          </div>
          <div class="modal-footer" style="margin-top: 0;">
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><%= t('approval.confirmation.cancel') %></button>
            <button type="submit" class="btn btn-primary btn-lg"><%= t('approval.confirmation.ok') %></button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<% if conf[current_action][:show_popup] %>
  <div class="modal" id="instructionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><%= raw t("#{current_action}.popup.title") %></h4>
        </div>
        <div class="modal-body">
          <%= raw t("#{current_action}.popup.body",
            budget: '$' + number_with_delimiter(@election.budget)
          ) %>
        </div>
        <div class="modal-footer">
          <a href="<%= url_for(next_page(:plusminus)) %>" class="btn btn-default btn-lg"><%= t('plusminus.popup.exit') %></a>
          <button class="btn btn-primary btn-lg" data-dismiss="modal"><%= t('plusminus.popup.ok') %></button>
        </div>
      </div>
    </div>
  </div>

  <script>
  $(document).ready(function() {
    $('#instructionModal').modal({
      keyboard: false,
      backdrop: 'static'
    });
  });
  </script>
<% end %>

<%# FIXME: This is bad. %>
<%= render 'shared/plusminus_js' %>

<%= render 'shared/timer' %>
