<% content_for :title, t('navigation.brand') %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 main">
      <center>
        <br><br>
        <h3><%= raw t('question.question') %></h3>
        <br><br>
        <p>
          <%
          alternative_page = {action: conf[:question][:alternative_page]}
          if conf[:question][:alternative_params] && !conf[:question][:alternative_params].blank?
            alternative_page.merge!(conf[:question][:alternative_params])
          end
          %>
          <a href="<%= url_for(alternative_page) %>" class="btn btn-secondary btn-lg"><%= raw t('question.alternative') %></a>
          &nbsp; &nbsp; &nbsp;
          <a href="<%= url_for(next_page(:question)) %>" class="btn btn-primary btn-lg"><%= raw t('question.ok') %></a>
        </p>
      </center>
    </div>
  </div>
</div>

<%= render 'shared/timer' %>
