<% content_for :title, t('navigation.brand') %>

<script type="text/javascript" src="/js/d3.min.js"></script>
<script type="text/javascript">
var projects = <%= @projects.to_json.html_safe %>;
var idToIndex = {};
for (var i = 0; i < projects.length; ++i) {
  idToIndex[projects[i].id] = i;
}

function numberWithDelimiter(val) {
  while (/(\d+)(\d{3})/.test(val.toString())) {
    val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
  }
  return val;
}

// Common variables for charts
var margin = {top: 20, right: 150, bottom: 300, left: 40},
    width = 960 - margin.left - margin.right,
    height = 600 - margin.top - margin.bottom;
</script>

<!-- Common style for charts. From http://bl.ocks.org/mbostock/3885304 -->
<style>
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: #2ca02c;
}
.axis {
  font-size: 14px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  fill: #000;
}
.slice text {
 font-size: 10pt;
 font-family: Arial;
}
</style>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 main">

      <h1 style="text-align:center">Results</h1>

      <script type="text/javascript">
      var currency_symbol = "<%=j @election.config[:currency_symbol] %>";
      var analytics_data = <%= @analytics_data.to_json.html_safe %>;

      function costWithDelimiter(val, currencySymbol) {
        return currencySymbol + numberWithDelimiter(val);
      }
      </script>

      <!-- Section for the adjustable cost project -->
      <% if @has_adjustable_cost_projects %>
        <%= render partial: 'shared/analytics/adjustable_cost_projects', locals: {is_public: true} %>
      <% end %>

      <!-- Section for the other projects -->
      <h2>Projects - Vote Counts</h2>
      <%= render partial: 'shared/analytics/approval', locals: {is_public: true} %>

    </div>
  </div>
</div>
