<% content_for :title, t('navigation.brand') %>

<% if conf[:survey][:show_exit_link] %>
  <% content_for :navbar_links do %>
    <li class="nav-item"><a href="<%= url_for(next_page(:survey)) %>" class="nav-link"><%= t('navigation.exit') %></a></li>
  <% end %>
<% end %>

<%
def add_params(url)
  ps = {}
  host = URI.parse(url).host
  if host && host.end_with?('qualtrics.com')
    if I18n.locale != :en
      ps[:Q_lang] = (I18n.locale == :zh) ? 'ZH-S' : I18n.locale.to_s.upcase
    end
  end
  url + (ps.empty? ? '' : ((url.include?('?') ? '&' : '?') + ps.to_query))
end

url = (params[:alternative] != '1') ? conf[:survey][:url] : conf[:survey][:alternative_url]
if url.nil? || url.length == 0
  url = t('survey.url')
else
  url = add_params(url)
end

campaign = "none"
if params[:campaign]
  campaign = params[:campaign]
end
url = url.gsub("[campaign]", campaign)
%>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 main">

      <iframe id="iframe" src="<%= url.html_safe %>" style="width: 100%; height: 600px; border: 0;"></iframe>

    </div>
  </div>
</div>

<% if conf[:survey][:asks_question] %>
  <div id="backdrop" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: white;">
  </div>

  <div class="modal" id="questionModal" tabindex="-1" role="dialog" data-show="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><%= raw t('survey.question.title') %></h4>
        </div>
        <div class="modal-body">
          <%= raw t('survey.question.body') %>
        </div>
        <div class="modal-footer" style="flex-wrap: wrap;">
          <a href="<%= url_for(next_page(:survey)) %>" class="btn btn-secondary btn-lg"><%= raw t('survey.question.alternative') %></a>
          <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><%= raw t('survey.question.ok') %></button>
        </div>
      </div>
    </div>
  </div>

  <script>
  $(document).ready(function() {
    $('#questionModal').modal({
      keyboard: false,
      backdrop: 'static'
    });
    $('#questionModal').on('hide.bs.modal', function (e) {
      $('#backdrop').hide();
    });
  });
  </script>
<% end %>

<%= render 'shared/timer' %>
