<% content_for :title, 'Voter Registration' %>

<% content_for :primary do %>
<div class="container-fluid">

      <h2>Voter Registration</h2>

      <%= render partial: 'shared/voter_registration_form', locals: { submit_url: url_for(action: :create), filled_by_voter: false } %>

      <% if !@records.empty? %>
        <h3>Last 5 records that you entered</h3>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <% @questions.each do |question| %>
                <th><%= t('registration.' + question) %></th>
              <% end %>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @records.each do |record| %>
              <% data = record.data %>
              <tr>
                <% @questions.each do |question| %>
                  <td><%= data[question] %></td>
                <% end %>
                <td>
                  <a href="<%= admin_election_voter_registration_record_path(election_id: @election.id, id: record.id) %>" data-method="delete" data-confirm="Are you sure you want to delete this record?">Delete</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

</div>
<% end %>

<%= render partial: 'shared/admin_template', locals: {items: [
  @election,
  'Voter Registration'
]} %>
