<% content_for :title, 'Users' %>

<% content_for :primary do %>
<div class="container-fluid">

      <h2>Users</h2>

      <div>
        <a href="<%= url_for(action: :new) %>">Add a new user</a>
      </div>

      <% if @election  # User list of an election. Only admins of that election (and superadmins) can see this page. %>
        <% if !@election_users.empty? %>
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th>Email address</th>
                <th>Status</th>
                <th>Already confirmed?</th>
                <th>Manage</th>
              </tr>
            </thead>
            <tbody>
              <% @election_users.each do |election_user| %>
                <% user = election_user.user %>
                <tr>
                  <td><%= user.username %></td>
                  <td><%= election_user.status.capitalize %></td>
                  <td>
                    <%= user.confirmed %>
                    <% if !user.confirmed %>
                      <br><a href="<%= resend_confirmation_admin_election_user_path(election_id: @election.id, id: user.id) %>">Resend confirmation</a>
                    <% end %>
                  </td>
                  <td>
                    <a href="<%= edit_admin_election_user_path(election_id: @election.id, id: user.id) %>">Edit</a> |
                    <a href="<%= election_user_destroy_admin_election_user_path(election_id: @election.id, id: user.id) %>" data-method="delete" data-confirm="Are you sure you want to delete this user?">Delete</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% else  # User list of every election. Only superadmins can see this page. %>
        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th>Email address</th>
              <th>Status</th>
              <th>Already confirmed?</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.username %></td>
                <td>
                  <% if user.is_superadmin %>
                    Superadmin<br>
                  <% end %>
                  <% user.election_users.each do |election_user| %>
                    <%= election_user.status.capitalize %>
                    (<a href="<%= admin_election_users_path(election_user.election) %>"><%= election_user.election.name %></a>)<br>
                  <% end %>
                </td>
                <td>
                  <%= user.confirmed %>
                  <% if !user.confirmed %>
                    <br><a href="<%= resend_confirmation_admin_user_path(user) %>">Resend confirmation</a>
                  <% end %>
                </td>
                <td>
                  <a href="<%= edit_admin_user_path(user) %>">Edit</a> |
                  <a href="<%= admin_user_path(user) %>" data-method="delete" data-confirm="Are you sure you want to delete this user?">Delete</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <br>

</div>
<% end %>

<% if @election %>
  <%= render partial: 'shared/admin_template', locals: {items: [
    @election,
    'Users'
  ]} %>
<% else %>
  <%= render partial: 'shared/admin_template', locals: {items: ['Users']} %>
<% end %>
